<ejs-daterangepicker #ejDateRange id='daterangepicker' [format]='dateFormat' (change)="onChange()" [enabled]='true' separator='al'>
    <e-presets>
        <e-preset label="Esta semana" [start]='weekStart' [end]='weekEnd'></e-preset>
        <e-preset label="Este mes" [start]='monthStart' [end]='monthEnd'></e-preset>
        <e-preset label="Ultimo mes" [start]='lastStart' [end]='lastEnd'></e-preset>
        <e-preset label="Ultimo año" [start]='yearStart' [end]='yearEnd'></e-preset>
    </e-presets>

</ejs-daterangepicker>
<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" type="text/css" />