<div class="card">
    <app-dates-range-picker id="daterangepicker" (dateRange)="onChange($event)"></app-dates-range-picker>
    <div id="chart-container">
        <canvas id="dontUnderstand"></canvas>
    </div>
    <div class="card-content">
        <h3>Cantidad de mensajes no entendidos por el bot</h3>
        <p>Esta estadística muestra la Cantidad de mensajes que no entiende el bot vs los que si entiende en un rango de tiempo indicado.</p>
    </div>
</div>