.col {
    display: block;
    height: 100%;
    width: 50%;
}

.col-info {
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.col-image {
    background-color: white;
    width: 60%;
}

.col-image img {
    width: 50%;
    margin: auto;
    margin-top: 20%;
    display: block;
}

.container-infor-error h1 {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 35px;
}

.container-infor-error {
    width: 90%;
    margin: auto;
}

.container-infor-error p {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}