<div class="col col-image">
  <img src="/assets/logo_everis.png" alt="logo-everis">
</div>
<div class="col col-info">
  <div class="container-infor-error">
    <h1>Oops, se presentó un Error!!!</h1>
    <p>No puede acceder a la plataforma, por favor intente nuevamente</p>
  </div>
</div>