<mat-toolbar [ngStyle]="{'background-color': STYLE_CLIENT.colors.primary}">
    <mat-toolbar-row class="toolbar-row">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()" color="white">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <span>{{dashboardOwner}}´s Bot Dashboard</span>

        <span class="fill-space"></span>

        <span>Cerrar sesión</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened role="navigation" style="background-color: #696969">
        <mat-nav-list>
            <a *ngFor="let chart of charts" mat-list-item style="cursor: pointer" routerLink="/{{chart.routerLink}}" #di="routerLinkActive" routerLinkActive [ngStyle]="{'background' : di.isActive ? STYLE_CLIENT.colors.secondary : '#696969'}">
                <mat-icon>{{chart.chart_type}}</mat-icon> <span [ngStyle]="{'margin-left': '15px'}">{{chart.chart_name}}</span></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>