mat-sidenav-content {
    background-color: white;
}

.fill-space {
    flex: 1 1 auto;
}

.container {
    height: 100%;
}

.mat-nav-list a.is-active {
    background: rgba(224, 171, 226, 0.2);
    ;
}