<mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar-row">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()" color="white">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <span>{{dashboardOwner}}</span>

        <span class="fill-space"></span>

        <span>Cerrar sesión</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened role="navigation">
        <mat-nav-list>
            <a mat-list-item style="cursor: pointer" routerLink="/use-intentions-chart" routerLinkActive="is-active">
                <mat-icon>bar_chart</mat-icon> <span class="nav-caption" style="margin-left: 20px;">Intenciones utilizadas</span></a>
            <a mat-list-item style="cursor: pointer" routerLink="/calification-chart" routerLinkActive="is-active">
                <mat-icon>pie_chart</mat-icon> <span class="nav-caption" style="margin-left: 20px;">Calificación</span></a>
            <a mat-list-item style="cursor: pointer" routerLink="/cant-consult-chart" routerLinkActive="is-active">
                <mat-icon>pie_chart</mat-icon> <span class="nav-caption" style="margin-left: 20px;">Consultas Usuario vs Bot</span></a>
            <a mat-list-item style="cursor: pointer" routerLink="/cant-derive-chart" routerLinkActive="is-active">
                <mat-icon>pie_chart</mat-icon> <span class="nav-caption" style="margin-left: 20px;">Derivados a Agente</span></a>
            <a mat-list-item style="cursor: pointer" routerLink="/cant-user-interactions-chart" routerLinkActive="is-active">
                <mat-icon>pie_chart</mat-icon> <span class="nav-caption" style="margin-left: 20px;">Interacciones</span></a>
            <a mat-list-item style="cursor: pointer" routerLink="/dont-understand-chart" routerLinkActive="is-active">
                <mat-icon>pie_chart</mat-icon> <span class="nav-caption" style="margin-left: 20px;">Mensajes no entendidos por el bot</span></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>