<div class="card">
    <app-dates-range-picker id="daterangepicker" (dateRange)="onChange($event)"></app-dates-range-picker>
    <div id="chart-container">
        <canvas id="cantConsult"></canvas>
    </div>
    <div class="card-content">
        <h3>Cantidad de consultas Usuario vs Bot</h3>
        <p>Esta estadística muestra la cantidad de consultas hechas Usuario vs Bot en un rango de tiempo indicado.</p>
    </div>
</div>