@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 95%;
    height: 85%;
    display: block;
    background-color: #ffffff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: none;
    overflow: hidden;
    color: #0a0a0a;
}

.card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: solid 1px #cdcdcd;
    padding: 5px 20px;
    height: 20%;
}

#chart-container {
    position: relative;
    width: 100%;
    height: 70%;
}