<div class="card">
    <app-dates-range-picker id="daterangepicker" (dateRange)="onChange($event)"></app-dates-range-picker>
    <div id="chart-container">
        <canvas id="cantDerive"></canvas>
    </div>
    <div class="card-content">
        <h3>Usuarios derivados a Agente</h3>
        <p>Esta estadística muestra la cantidad de sesiones derivadas a agente vs no derivadas vs solicitud por correo en un rango de tiempo indicado.</p>
    </div>
</div>