<div class="card">
    <app-dates-range-picker id="daterangepicker" (dateRange)="onChange($event)"></app-dates-range-picker>
    <div id="chart-container">
        <canvas id="cantUserInteractions"></canvas>
    </div>
    <div class="card-content">
        <h3>Interacciones</h3>
        <p>Esta estadística muestra la cantidad de intenciones que se realizan al bot por usuario en un rango de tiempo indicado.</p>
    </div>
</div>