<div class="card">
    <app-dates-range-picker id="daterangepicker" (dateRange)="onChange($event)"></app-dates-range-picker>
    <div id="chart-container">
        <canvas id="useIntentions"></canvas>
    </div>
    <div class="card-content">
        <h3>Cantidad de intenciones Utilizadas</h3>
        <p>Esta grafica muestra la cantidad de veces que se han utilizado las intenciones en un rango de tiempo indicado.</p>
    </div>
</div>