/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: MDA;
    src: url('assets/fonts/Gelion-Regular.ttf');
}

p,
h1,
h2,
h3,
h4,
input,
button,
span {
    font-family: 'MDA' !important;
}