<div class="card">
    <app-dates-range-picker id="daterangepicker" (dateRange)="onChange($event)"></app-dates-range-picker>
    <div id="chart-container">
        <canvas id="calification"></canvas>
    </div>
    <div class="card-content">
        <h3>Calificación del bot al usuario</h3>
        <p>Esta estadística muestra la calificación de las intenciones del Bot por parte del Usuario en un rango de tiempo indicado.</p>
    </div>
</div>